<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="User Id=tertiodau1;Password=<password>;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.4.4.192)(PORT=1535)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ProvDA)));  Min Pool Size=10;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=5; Decr Pool Size=2; Pooling=true;Max Pool Size=200;" providerName="Oracle.ManagedDataAccess.Client" />
    
  </connectionStrings>


</configuration>